/* Add CSS here */
:root {
  --border-radius: 0.75rem;
  --color-body: #F2F6FF;
  --color-card: #FFFFFF;
  --color-card-alt: #313131;
  --color-submit: #1D1D1D;
  --color-font: #E0E0E0;
  --color-font-alt: #FAC843;
  --color-blue: #03A9F3;
  --color-purple: #AA00FF;
  --color-red: #F40057;
  --font-family: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--color-body);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
span,
label,
textarea {
  font-family: var(--font-family);
}

h2 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

.noselect {
  -webkit-user-select: none;
  user-select: none;
}

.card.hidden {
  display: none;
}

.container {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  gap: 1.5rem;
}

@media (min-width:768px) {
  .container {
    grid-template-columns: repeat(1, minmax(20rem, 1fr));
  }
}

@media (min-width:1140px) {
  .container {
    grid-template-columns: repeat(1, minmax(20rem, 1fr));
  }
}

.card {
  width: 20rem;
  background-color: var(--color-card);
  box-shadow: 0px 8px 24px -16px rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 2rem;
  padding: 0rem 2rem 4rem 2rem;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
}

.header>img {
  width: 100%;
  filter: invert(1) opacity(0.2);
  position: relative;
  z-index: 2;
  max-width: 10rem;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
  justify-content: center;
}

.input {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  justify-content: center;
  width: 100%;
}

.input>label {
  color: #182B54;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
}

.input>input {
  border: 2px solid #F6F8FE;
  border-radius: 0.25rem;
  font-family: var(--font-family);
  outline: none;
  padding: 0.5rem;
  width: 100%;
}

.input>input::placeholder {
  font-family: var(--font-family);
}

.submit {
  align-items: center;
  background-color: #6A83D3;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0px 8px 24px -16px rgba(0, 0, 255, 0.6);
  outline: none;
  color: white;
  display: flex;
  justify-content: center;
  padding: 1rem;
  text-transform: uppercase;
  transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
  width: 100%;
}